.admin {
	background-color: #c4cdc1;
    font-family: Tahoma, Geneva, Verdana, sans-serif; 
	padding-top: 5px;
}

.admin h1 {
	color: #000000;
}

.admin .admin-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
}

.admin .products-section {
	background-color: rgb(237, 240, 236, .75);
	border: 1px solid #ffffff;
	color: #000000;
	width: 500px;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

.admin .discounts-section {
	background-color: rgb(237, 240, 236, .75);
	border: 1px solid #ffffff;
	color: #000000;
	width: 400px;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

.admin .discounts-section label,
.admin .products-section label {
	text-align: left;
	margin-bottom: 0;
}

.admin .discounts-section h3,
.admin .products-section h3 {
	text-align: center;
}

.admin .discounts-section input,
.admin .products-section input {
	margin-bottom: 3px;
}

.admin .btn {
	border: 1px solid #ffffff;
	border-radius: 4px;
}

.admin .controls {
	text-align: center;
	padding-top: 8px;
}

.admin .dis-code-list {
	font-size: 16px;
}