.catalog {
	background-color: #c4cdc1;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 5px;
}

.catalog h2 {
	text-align: center;
	color: #000000;
}

.catalog .filter {
	margin-bottom: 10px;
}

.catalog .filter button {
	margin-right: 5px;
}

.catalog .categories {
	background-color: #9da49a;
}