.catalog {
	background-color: #FFFFFF;
}

.catalog h2 {
	background-color: #6c757d;
	text-align: center;
	padding-top: 20px;
	color: #FFFFFF;
	font-family: cursive;
	border: 1px solid #FFFFFF;
}

.catalog .filter {
	margin-bottom: 10px;
}

.catalog .filter button {
	margin-right: 5px;
}