.footer-section {
    font-family: 'Candara Light';
    padding: 3px;
    display: flex;
    justify-content: space-around   ;
    height: 50px;
    align-items: center;
    background-color: #6c757d;
    border: 1px solid darkgray;
}

p {
    font-family: 'Candara Light';
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
}