.navbar-menu {
    font-family: 'Candara Light';
    padding: 3px;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

a {
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: #7c44d0;
}