.navbar {
	background-color: #DCE1DA;
	color: #000000;
	border-bottom: 1px solid #ffffff;
}

.navbar .btn-user {
	margin-right: 6px;
	background-color:  #9da49a;
}

.navbar .links {
	color: #000000;
}

.navbar .btn-cart {
	margin-left: 5;
	background-color: #9da49a;
}
