.product {
	background-color: rgb(237, 240, 236, .75);
	font-family: 'Candara Light';
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: #000000;
	padding: 6px;
	height: 450px;
	width: 270px;
	display: inline-block;
	margin: 0 10px 10px 0;
	vertical-align: top;
}

.product:hover {
	transform: skew(.5deg);
}

.product img {
	width: 250px;
	max-height: 333.33px;
}

.product h4 {
	color: #000000;
	margin: 0;
} 

.product .parent {
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}

.product .btn {
	background-color: #c4cdc1;
	color: #ffffff;
}